# Python
__pycache__/
*.pyc
*.pyo

# Jupyter
.ipynb_checkpoints/

# Virtual environments
.venv/
venv/
env/

# Spark temporary files
spark-warehouse/
metastore_db/
derby.log/
*.crc

# VS Code
.vscode/

# Temporary files
*.tmp
*.temp
